01_apostila_python3_repl_versions_tipos_ops_aritmeticos_precedencia_ops_compostos_strings.pdf
02_apostila_python3_in_out_fformat_strings_ops_logicos_selecao.pdf
03_apostila_python3_repeticao_for_while_range_break_continue.pdf
04_01_sistema_boca.pdf
04_02_formato_de_um_problema.pdf
06_exercicios_psc_sexta_repeticao_para_entrega_20220408091447.pdf
2022_04_19_maratona_cronograma_v2_20220419143745.pdf
